#output{
    background-color: rgba(255, 255, 255, 0.74);
}
body{
    background: linear-gradient(#009FFF, #ec2F4B);
}
#heading{
    width: 100%;
    font-size: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: red;
    margin: 0;
}
